@charset "utf-8";
/* CSS Document */
	body {
		background-color:black;
	}
	
	header {
	display: block;
	background-color: darkred;
	margin: 0;
	padding: 0;
	border: 20;
	position: fixed;
	width: 100%;		
		}
	
	.logo {
		display: table;
		align-content: center;
		margin: 0 auto;
		background-color: darkred;
	}
	
	.RaytheonLogo {
		display: inherit;
		}
	

	.pandemicdeclaration {
		width: 100%;
		height: 60%;
		video-width: var(--portrait-max-width);
		object-fit: cover;
		display: inline-block;
		transition-delay: 0s;
		transition-duration: 1s;
		margin: 0 auto;
		padding-top: 100px;
		border-style: groove;
		border-color: antiquewhite;
		transition-duration: 10s;
		transition: opacity var(--transition-duration) ease-out var(--transition-delay);
			}
	
.Memories {
		width: 100%;
		height: 100%;
		video-width: var(--portrait-max-width);
		object-fit: cover;
		display: inline-block;
		transition-delay: 0s;
		transition-duration: 1s;
		margin: 0 auto;
		border-style: groove;
		border-color: antiquewhite;
		transition-duration: 10s;
		transition: opacity var(--transition-duration) ease-out var(--transition-delay);
			}
	

	.textOMS, .footertext {
		width: calc(100% - 80px);
		max-width: 360px;
		margin-top: 0 auto;
		font-size: 1.75rem;
		pointer-events: initial;
		font-family: var(--font-chelt);
		color: rgb(230 230 230);
		webkit-font-smoothing: antialiased;
		line-height: 1.375;
        text-shadow: 0 2px 2px rgb(0 0 0 / 40%), 0 0 2px rgb(0 0 0 / 40%);
		margin-left: auto;
    	margin-right: auto;
		margin: 0;
    	padding: 0;
    	border: 0;
		vertical-align: baseline;
		display: block;
	    margin-block-start: 1em;
    	margin-block-end: 1em;
    	margin-inline-start: 0px;
    	margin-inline-end: 0px;
		box-sizing: border-box;
        width: 100%;
    	min-height: 100vh;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;
    	position: relative;
    	z-index: 10;
    	overflow: hidden;
    	margin-bottom: 20vh;
	}
	

.Jennifer {
	overflow: auto;
	margin: 20px;
}
	.Jenn_Pic {
	display: block;
	float: left;
	margin-right: 20px;
	}

.Felipe {
	overflow: auto;
	margin: 20px;
}
	.Felipe.Pic {
	display: block;
	float: right;
	
	}

.Axel {
	overflow: auto;
	margin: 20px;
}
	.Axel.Pic {
	display: block;
	float: left;
	
	}


.Gustavo {
	overflow: auto;
	margin: 20px;
}
	.Gustavo.Pic {
	display: block;
	float: right;
	
	}

.Diana {
	overflow: auto;
	margin: 20px;
}
	.Diana.Pic {
	display: block;
	float: left;
	
	}

.Pregunta {
	color:rgb(230 230 230);
	display: block;
}

.Respuesta {
	color: rgb(230 230 230);
	display: block;
}
	
	footer {
	display: inline-block;
	width: calc(100% - 80px)
	}

.Social {
	display: table;
	margin: 0 auto;
}

.listsocial {
text-align: center;
margin: auto;
}

.SocialShare {
	display: inline;
	align-content: center;
	justify-content: center;
	text-align: center;
	
}

.SocialIcon {
display: inline;
max-height: 30px;
max-width: 30px;
	
}

footer {
display: inline-block;
text-align: center;
width: 100%;
heigth: 0 auto;
margin: 0 auto;
padding: 0 auto;
border: 0 auto;
align-content: center;
}

.footertext {
display: inline;
color: rgb(230 230 230);
font-size: 10px;
heigth: 0 auto;
margin-left: 0 auto;
padding: 0 auto;
border: 0 auto;
content-align: center;
}